/* -------------------
   base
------------------- */

body {
  background-color: #443112;
  color: #FFFFFF;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 2rem;
}

h1 {
  color: #A0B080;
  margin-bottom: 2rem;
  text-shadow: 3px 3px 0 #000000;
}

a { color: #FFFFFF; }
a:visited { color: #DDDDDD; }


/* -------------------
   dos
------------------- */

.dos-panel {
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  background: #3a5500;
  margin: 2rem;
  color: #FFFFFF;
  border: 1px solid #000000;
}

.dos-panel::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: -1;
}

.dos-title {
  background: black;
  color: #FFA500;
  font-weight: bold;
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
  margin-top: -1rem;
  padding: 0.4rem 0.3rem;
  border-bottom: 1px solid black;
  text-shadow: 2px 2px 0 #000000;
  box-sizing: border-box;
  text-align: left;
}

.dos-content {
  padding-top: 0.5rem;
}

.dos-row {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}


/* -------------------
   side l
------------------- */

.links-panel {
  flex: 0 0 200px;
  padding: 0;
}

.links-panel .dos-content {
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.links-panel .dos-title {
  width: 100%;
  margin-left: 0;
  margin-top: 0;
  border-bottom: 1px solid black;
}

.links-panel a {
  display: block;
  width: 100%;
  padding: 0.4rem 0.4rem; /* Looks good with or without */
  color: #FFFFFF;
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-bottom: 1px solid #2f3f00;
}

.links-panel a:hover {
  background: #809060;
}


/* -------------------
   side r
------------------- */

.right-panels {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
